/* Empty. Add your own CSS if you like */
@font-face {
	font-family: 'MyriadPro-Bold';
	font-style: normal;
	src: 	url('MyriadPro-Bold.eot');
	src: 	url('MyriadPro-Bold.ttf') format('truetype'),
			url('MyriadPro-Bold.woff') format('woff'),
			url('MyriadPro-Bold.svg#svgMyriadProBold') format('svg');
}
*{
	font-family: 'MyriadPro-Bold';
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent;
}
ion-nav-view, ion-view.pane{
	background: transparent;
}
.layout{
	background: transparent url(../img/layout2.png) no-repeat center center;
	background-size: cover;
}
.layout div.scroll{
	height: 100%;
	background: transparent;
}
.layout a#cam{
	background: #acacac;
	padding: 0.5% 7%;
	color: #fff;
	text-shadow: -1px -1px 5px rgba(0,0,0,0.7);
	box-shadow: -1px -1px 5px rgba(0,0,0,0.7);
	border-radius: 5px;
	position: absolute;
	bottom: 2%;
	left: 50%;
	margin-left: -28%;
	font-size: 16px;
	text-align: center;
	height: 7%;
	width: 25%;
}
.layout a#vid{
	background: #459594;
	padding: 0.5% 7%;
	color: #fff;
	text-shadow: -1px -1px 5px rgba(0,0,0,0.7);
	box-shadow: -1px -1px 5px rgba(0,0,0,0.7);
	border-radius: 5px;
	position: absolute;
	bottom: 2%;
	right: 50%;
	margin-right: -28%;
	font-size: 16px;
	text-align: center;
	height: 7%;
	width: 25%;
}
.layout a.btn{
	position: absolute;
	width: 9%;
	height: 13%;
	display: block;
	background: transparent url(../img/play_up.png) no-repeat center center;
	background-size: contain;
}
.layout a.btn:hover{
	background: transparent url(../img/play_down.png) no-repeat center center;
	background-size: contain;
}
.layout a#btn1{
	top: 4%;
	left: 4%;
}
.layout a#btn2{
	top: 4%;
	right: 4%;
}
.layout a#btn3{
	bottom: 4%;
	left: 4%;
}
.layout a#btn4{
	bottom: 4%;
	right: 4%;
}
#app-video{
	position: absolute;
	top: 0;
	left: 0.9%;
	bottom: 11.3%;
	right: 0;
	margin: auto;
	background: #000;
}
canvas#viewport{
	position: absolute;
	top: 0;
	left: 0.9%;
	bottom: 11.3%;
	right: 0;
	margin: auto;
}
@media(min-width: 768px){
	.layout a#cam{
		padding: 2% 7%;
	}
	.layout a#vid{
		padding: 2% 7%;
	}
	.layout a#cam{
		font-size: 31px;
	}
	.layout a#vid{
		font-size: 31px;
	}
	#app-video{
		bottom: 8.3%;
	}
	canvas#viewport{
		bottom: 8.3%;
	}
}